<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
</head>
<body>
    <header id="top">
        <a href="/home"><div class="logo">
            <img class="logo-img" src="../media/logo.svg" alt="logo image" width="60px">
            <h2>Book<br>Smart</h2>
        </div></a>
        <nav class="">
            <ul>              
                <li>
                    <% if(typeof disable != 'undefined') {%>
                        <div class="signin-dropdown" style="display: none;">
                    <% }else{ %>
                        <div class="signin-dropdown">
                    <% } %>
                            <button class="drop-button">Sign in <img src="../media/down-arrow.svg" alt="down-arrow-icon" ></button>
                            <div class="dropdown-content">
                                <a href="/login">Login</a>
                                <a href="/signup">Register</a>
                            </div>
                        </div>
                </li>
                <li><a href="/profile/user" ><img class="user" src="../media/user.svg" alt="user-icon" width="35px"/></a></li>
            </ul>
        </nav>
    </header>
    
    <div class="gradient" style="background:url(../media/backgroung-gradient.jpg) center no-repeat;" data-v-99800650=""></div>

    <main>
        <h2>In Order To Succeed You Must Read!</h2>
        <div class="search-bar">
            <form action="/home/search" method="get">

                <% if(typeof keyword != 'undefined') {%>
                    <input type="text" placeholder="Search for eBook..." name="keyword" value="<%= keyword %>">
                <% } %>
                
                <% if(typeof books != 'undefined') {%>
                    <input type="text" placeholder="Search for eBook..." name="keyword">
                <% } %>

                <button type="submit">Search</button>
            </form>
        </div>

        <% if(typeof books != 'undefined') {%>
            <section class="Most-popular-books">
                <h3>Most Popular</h3><hr>
                <div class="popular-books">
                    <!--for loop to display book images and add links to book page-->
                    <% for (var i = 0; i < books.length; i++) { %>
                        <a href="/book/?id=<%= books[i].id %>"><img src="<%= books[i].cover_path %>"></a>
                    <% } %>
                </div>
            </section>
        <% } %>

        <% if(typeof search_result != 'undefined') {%>
            <section class="search-result">
                <h3>Search Result</h3><hr>
                <div class="books">
                    <% for (var i = 0; i < search_result.length; i++) { %>
                        <div class="book">
                            <div class="book-cover">
                                <a href="/book/?id=<%= search_result[i].id %>"><img src="<%= search_result[i].cover_path %>"></a>                            </div>
                            <div class="book-details">
                                    <cite class="book-title"><%= search_result[i].title %></cite>
                                    <p class="author"><%= search_result[i].author %></p>
                                    <p class="publisher">Publisher: <%= search_result[i].publisher %></p>

                                    <div class="book-flex">
                                        <p class="year">Year: <%= search_result[i].year %></p>
                                        <p class="language">Language: <%= search_result[i].language %></p>
                                    </div>
                                    
                            </div>
                        </div>
                    <% } %>
                </div>
            </section>
        <% } %>
    </main><hr>
    <footer>
            <div class="copyright-info">
                <p>Copyright &copy; 2022</p>
            </div>
            <div class="footer-links">
                <ul>
                    <li>Icons by <a href="https://iconscout.com">Iconscout</a></li>
                    <li><a style="color: #000;">support@abc.com</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a class="top-btn" href="#top">&uarr;</a></li>
                </ul> 
            </div>
    </footer>
</body>
<style>
    *{
        margin: 0;
        padding: 0;
    }
    html{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        max-width: 1500px;
        margin: auto;
        scroll-behavior: smooth;
    } 
    body{
        margin: 2% 5%;
    }
    header{
        display: flex;
        justify-content: space-between;
    }
    header a{
        color: #000;
    }
    .logo img, .logo h2{
        float: left;
        font-weight: 500;
    }
    nav ul{
        list-style: none;
        display: flex;
    }
    nav li{
        padding-left: 2em;
    }
    .drop-button {
        text-align: left;
        background-color: #fff;
        color:#1f1f1f;
        padding: 0.5em 0.8em;
        font-size: 1em;
        border: none;
        border-radius: 5px;
        border: 1px rgb(225, 220, 220) solid;
        width: 6rem;
    }
    .drop-button img{
        position: absolute;
        width: 26px;
        top: 0.3em;
    }

    .signin-dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 5px;
        width: 6rem;
    }

    .dropdown-content a {
        color: #1f1f1f;
        padding: 0.8em 1.5em;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:last-child{
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .dropdown-content a:hover {background-color: #00000008;}

    .signin-dropdown:hover .dropdown-content {
        display: block;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .signin-dropdown:hover .drop-button {
        background-color: #00000008;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        cursor: pointer;
    }
    .user{
        background-color: #fff;
        border-radius: 50px;
    }
    .user:hover{
        background-color: #00000008;
        border-radius: 50px;
    }
    main{
        text-align: center;
        margin-top: 6rem;       
    }
    .gradient{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    main h2{
        font-size: 2.5em;
        color: #1f1f1f;
    }
    .search-bar input{
        margin-top: 2em;
        width: 40%;
        padding: 0.8rem 2%;
        font-size: 1.2rem;
        border: 1px rgb(225, 220, 220) solid;
        border-radius: 5px;
    }
    .search-bar button{
        margin-top: 2em;
        padding: 0.8rem 2%;
        margin-left: 1em;
         font-size: 1.2rem;
        border: 1px rgb(225, 220, 220) solid;
        border-radius: 5px;
        background-color: #1f1f1f;
        color: #fafafa;
    }
    .search-bar button:hover{
        background-color: #333;
        cursor: pointer;
    }
    .Most-popular-books h3, .search-result h3{
        font-weight: 500;
        text-align: left;
        font-size: 1.7em;
        margin: 2.5em 5em 0 5em;
    }
    .Most-popular-books hr, .search-result hr{
        margin: 1em 7em;
    }
    .popular-books{
        display: grid;
        margin: 1em 7em;
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
        row-gap: 1em;
    }
    .book{
        margin: 1em 7em;
        display: grid;
        grid-template-columns: 25% 75%;
    }
    .book-cover img{
        width: 100%;
    }
    .book-details{
        padding-left: 1.5em;
        text-align: left;
    }
    .book-title{
        font-size: 2em;
        font-style:normal;
    }
    .author{
        font-size: 1.2em;
        padding-top: 0.3em;
        font-style: italic;
        font-weight: 500;
    }
    .publisher{
        font-size: 1.2em;
        padding-top: 0.7em;
    }
    .book-flex{
        display: flex;
        padding-top: 1em;
    }
    .book-flex p{
        display: flex;
        padding-right: 3em;
    }
    .popular-books img{
        width: 187.6px;
    }
    hr{
        margin-top: 5%;
    }
    footer{
        display: flex;
        justify-content: space-between;
        margin-top: 1.5%;
    }
    .footer-links ul{
        display: flex;
        list-style: none;
    }
    .footer-links li{
        padding-left: 2em;
    }
    .footer-links a{
        color: rgb(252, 159, 28);
    }
    .top-btn{
        padding: 0.5em;
        border-radius: 50px;
        color: #1f1f1f !important;
        background-color: #fff;
        border: 1px rgb(225, 220, 220) solid;
    }
    
</style>
</html>